/* Universal Styles */

html, body {
  font-family: 'Raleway';
  font-weight: 600;
  scroll-behavior: smooth;
}

::selection {
  color: #fff;
  background-color: #A78BFA;
}

a, li, a:hover {
  color: #A78BFA;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

button:hover {
  transition: 600ms;
}

.text-1 {
  color: #1F2937;
}

.text-2 {
  color: #4B5563;
}

.text-3 {
  color: #6B7280;
}

.text-4 {
  color: #9CA3AF;
}

/* Navbar Styles */

.nav-logo {
  width: 10%;
  margin-right: 1rem;
  display: inline-block;
  align-self: top;
  background-color: #fff;
  border-radius: 10%;
  padding: 0.5%;
}

/* Footer Styles */

hr {
  background-color: #6B7280;
}

.footer-highlight, .fa-heart, .fa-facebook-square, .fa-twitter, .fa-youtube, .fa-envelope, .fa-phone-square-alt {
  color: #17a2b8;
}

.fa-heart, .fa-facebook-square, .fa-twitter, .fa-youtube, .fa-envelope, .fa-phone-square-alt {
  font-size: 1.3em;
}

.footer-highlight:hover, .fa-heart:hover, .fa-facebook-square:hover, .fa-twitter:hover, .fa-youtube:hover, .fa-envelope:hover, .fa-phone-square-alt:hover {
  color: #A78BFA;
  transform: scale(1.1);
  transition: ease-in 300ms;
}

/* Home Page Styles */

/* About Page Styles */

/* Projects Page Styles */

.project-card {
  border: 2px solid #A78BFA;
  border-radius: 5%;
  overflow: hidden;
}

.project-card:hover {
  cursor: default;
  transition: ease-in-out 300ms;
  transform: scale(1.02);
  box-shadow: 1px 2px #A78BFA;
}

.project-card-title {
  font-size: 0.7em;
}

.project-card-img {
  height: 200px;
}

.project-report-btn {
  margin: 0 auto;
}

.parallax {
  border-radius: 0%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-projects {
  background-image: url('./img/projects/jumbotron.jpg');
}

/* Gallery Page Styles */

/* Donation Page Styles */

.parallax-donation {
  background-image: url('./img/donation/jumbotron.jpg');
}

.alter-strip-nav {
  background-color: #A78BFA;
  position: sticky;
  top: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.btn-outline-light:hover {
  color: #17a2b8;
}

.btn-outline-light:not(:disabled):not(.disabled).active {
  color: #17a2b8;
}

/* Contact Page Styles */

/* Larger Screen Styles */

@media screen and (min-width: 768px) {

  .project-report-btn {
    margin: 0 0 0 auto;
  }

  .project-card-img {
    height: 300px;
  }

  .project-card-title {
    font-size: inherit;
  }

}